{{> nav}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
    
<div class="col-xs-offset-3 col-xs-6" >

{{#each about}}

    <!--Card-->
    <div class="card">
        <img class="about-img" src="{{heroImg}}" alt="">

        <div class="card-block about-content">
            <!--Title-->
            <h4 class="card-title">{{title}}</h4>
            <!--Text-->
            <p class="card-text">{{description}}</p>
            <p>{{signOff}}</p>
            <a href="mailto:#">pickleballrockers@tampabay.rr.com</a><br><br>
            <a href="/contact" class="btn btn-primary about-btn">Contact Me</a>
        </div>
    </div>
    <!--/.Card-->

{{/each}}


</div>        

    

  {{!--           <p class="card-text">I'd like to say it was love at first Dink. An Octogenarian introduced me to this game who happens to be a Senior Olympic Champion, if he can play this game four days a week why can't I just pick up a paddle in my 50's? I was hooked!! However spending 7 out of my 12 months of playing injured what's a girl to do but create Pickleball Rockers! With love of Art and Pickleball, I've started designing personalized logos with Picklepal traveling every city, state and country. I'm happy to design your logo(s) with your location or favorite pastime in mind.</p>   --}}  

 {{!--  <p>Please take a look and email me for customization:</p> --}}

