{{> nav}}

<div class="container">

  <div class="row">
    <h2 class="text-center">Site Database</h2>
    
    <p class="text-center">What would you like to edit?</p>
    
    <hr>

    <div class="col-md-3 col-md-push-3">
      <a href="/products/admin/Paddles">
        <div class="alert alert-danger">Paddles</div>
        <img class="img-responsive img-circle" src="../public/images/products/1x/canadaPaddle.jpg">
      </a>
    </div>

    <div class="col-md-3 col-md-pull-3 ">
      <a href="/products/admin/Shirts">
        <div class="alert alert-info">Shirts</div>
        <img class="img-responsive img-circle" src="../public/images/products/1x/yellowShirt.jpg">
      </a>
    </div>

    <div class="col-md-3">
      <a href="/products/admin/Jewelry">
        <div class="alert alert-success">Jewelry</div>
        <img class="img-responsive img-circle" src="../public/images/products/1x/bracelet.jpg">
      </a>
    </div>

    <div class="col-md-3">
      <a href="/logos/admin">    
        <div class="alert alert-warning">Logos</div>
        <img class="img-responsive img-circle" src="../public/images/logos/1x/HomePageLogo.png">
      </a>
    </div>    

  </div>

  <hr>
  
</div>
