<div class="row">
  <h1 class="text-center">Pickleball Rockers --- Coming Soon!</h1>
</div>

<br><br>

<div>
  <img id="auth-logo" src="../../public/images/logos/lyndee.png" alt="">
</div>

<br><br>

<form action="">
  <div class="row">
      <div class="form-group col-sm-offset-4 col-sm-3">
        <label for="exampleInputPassword1">Admin</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
        <small id="passHelp" class="form-text text-muted">Admin Entry Only</small>
      </div>          
      <input type="submit" id="admin" class="btn btn-primary" style="margin-top: 1.7em;" value="submit">
  </div>   
</form>

<h2 id="error" class="col-sm-offset-5 col-sm-4" style="color:red;">Access Denied</h2>
