{{> nav}}

 <h2 class="page-header col-md-offset-1">My Cart</h2>

    <div id="emptyCart" style="display:none;">
        <h4 class="text-center">Your cart is empty</h4>
        <a href="/products" class="btn btn-default" id="viewProducts" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>View Products</a>  
    </div>

    <div class="row" id="cartTable" style="display:none;">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="cartList">
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong id="cartSubtotal"></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$10.00</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong id="cartTotal"></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <a href="/products" class="btn btn-default" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Continue Shopping</a></td>                       
                        <td>
                        <td>   
                            <div id="paypal-button"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>


