{{> nav}}

<div class="container">
    <br><br>
    <h4 class="text-center" style="color:green;">Your order was processed successfully</h4>
 
    <br>
    <img class="about-img" style="width:14em;display: block;" src="../public/images/logos/lyndee.png" alt="">

    <br><br>

   {{!--  <a href="/logos" class="btn btn-warning" id="viewLogos" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>View Logos</a>   --}}   
    <a href="/products" class="btn btn-primary" id="viewProducts" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>Back to Products</a>  

</div>
