{{> nav}}

<div id="homeBackdrop">
    
    <div class="row">
      <h1 id="headlineTop" class="text-center">FOR ALL THE PICKLEBALL</h1>
    </div>

    <div class="row">
      <div class="col-xs-offset-2 col-xs-4">
        <div id="ballWrapper">
          <div id="ball"></div>
          <div id="ballShadow"></div>     
        </div>
      </div>
    </div>

    <div id="headlineBottom" class="row">
      <a class="btn btn-warning col-xs-offset-1 col-xs-1" href="/products">Products</a>
      <h1 class="col-xs-offset-2 col-xs-4">LOVERS and ROCKERS</h1>
      <a class="btn btn-warning col-xs-offset-2 col-xs-1" href="/logos">Custom Logos</a>
    </div>

</div>