<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pickleball Rockers</title>
    <link rel="shortcut icon" type="image/x-icon" href="./public/images/favicon.ico">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/ball.css">   
    <link rel="stylesheet" href="/public/css/product.css"> 
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  
  <div id="page-content" class="container">
    {{{body}}}
  </div>

  <!-- JQuery -->
  <script src="/public/js/jquery-3.1.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="/public/js/bootstrap.min.js"></script>
  <!-- custom scripts -->
  <script src="/public/js/product.js"></script>  
  <script src="/public/js/main.js"></script>

</body>

</html>