  {{> nav}}

<div class="container">

    <div class="well well-sm">
        <strong>Custom Logos</strong>
    </div>
    <div id="products" class="row list-group">

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/logos/arizonaLogo.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Arizona</h4>
                    </div>
                </div>
            </div>

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/logos/coloradoLogo.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Colorado</h4>
                    </div>
                </div>
            </div>

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/logos/rockersLogo.png" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Rockers</h4>
                    </div>
                </div>
            </div>   

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/logos/loverLogo.png" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Lover</h4>
                    </div>
                </div>
            </div>   

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/floridaPickleball.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Florida</h4>
                    </div>
                </div>
            </div>                               
    </div>

</div>

    {{!-- http://placehold.it/400x250/000/fff --}}
