  {{> nav}}

    <div class="well well-sm">
        <strong>Styles</strong>
        <div class="btn-group">
            <a href="#" id="grid" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-th"></span> Grid
            </a>
            <a href="#" id="list" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-th-list"></span>List
            </a> 
        </div>
    </div>
    <div id="products" class="row list-group">

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/arizonaLogo.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Arizona</h4>
                    </div>
                </div>
            </div>

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/coloradoLogo.jpg" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Colorado</h4>
                    </div>
                </div>
            </div>

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/rockersLogo.png" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Rockers</h4>
                    </div>
                </div>
            </div>   

            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="group list-group-image" src="../public/images/loverLogo.png" alt="" />
                    </a>
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading text-center">Lover</h4>
                    </div>
                </div>
            </div>                    


    </div>


    {{!-- http://placehold.it/400x250/000/fff --}}
