{{> nav}}

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="R4RFTRJQ5BLHA">
<table>
<tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr><tr><td><select name="os0">
  <option value="Womens Med">Womens Med $35.00 USD</option>
  <option value="Womens Large">Womens Large $35.00 USD</option>
  <option value="Womens X-Large">Womens X-Large $35.00 USD</option>
  <option value="Mens Large">Mens Large $35.00 USD</option>
  <option value="Mens X-Larrge">Mens X-Larrge $35.00 USD</option>
  <option value="Mens XX-Large">Mens XX-Large $35.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
