<div class="container about-info">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">About Lyndee</h2>
            <hr class="light">
        </div>
    </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="team-member">
                    <img src="http://lifecoach.com.vn/wp-content/uploads/2015/12/GIRL.jpg" class="img-circle">
                </div>
            </div>
        </div>
    <div class="row">    
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large">Pickleball Enthusiast, Caterer, Decorator etc.</p>
        </div>
    </div>
</div>