<div class="row">
  <div class="col-xs-4">
    <div id="box">
      <div id="ball"></div>
      <div id="shadow"></div>
    </div> 
  </div>
  <div class="col-xs-offset-2 col-xs-4">
    <div id="ballWrapper">
      <div id="ball2"></div>
      <div id="ballShadow"></div>     
    </div>
  </div>
</div>

