{{> nav}}

<div class="container">

  <div class="row">
    <h2 class="text-center">Product Categories</h2>
        
    <hr>

    <div class="col-md-4 col-md-push-4">
      <a href="/products/Paddles">
        <h4 class="text-center alert alert-danger">Paddles</h4>
        <img class="img-responsive img-circle" src="../public/images/products/1x/canadaPaddle.jpg">
      </a>
    </div>

    <div class="col-md-4 col-md-pull-4 ">
      <a href="/products/Shirts">
        <h4 class="text-center alert alert-info">Shirts</h4>
        <img class="img-responsive img-circle" src="../public/images/products/1x/yellowShirt.jpg">
      </a>
    </div>

    <div class="col-md-4">
      <a href="/products/Jewelry">
        <h4 class="text-center alert alert-success">Jewelry</h4>
        <img class="img-responsive img-circle" src="../public/images/products/1x/bracelet.jpg">
      </a>
    </div> 

  </div>

  <hr>
  
</div>
